@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body {

    font-family: "Open Sans";
}

.OuterMostContainer {
    display: flex;
    width: 100%;
    align-content: stretch;
}

.LeftContainer {
    background: cornflowerblue;
}

.RightContainer {
    flex-grow: 1;
    background: greenyellow;
}

.Description
{
    /*display: flex;*/
    font-size: 10pt;
    margin-left: 5pt;
    background-color: dimgray;
    color: brown;
}
